.contact-form {
	width: 100%;
	margin-top: 20px;

	ul {
		padding: 0;
		margin: 0;

		li {
			padding: 0;
			margin: 0;
			list-style: none;
			margin-bottom: 10px;
			overflow: hidden;
			display: block;
			position: relative;
			opacity: 0;
			animation: fadeInUp 2s 2s;
			animation-fill-mode: forwards;
			clear: both;
		}

		li.half {
			width: 49%;
			margin-left: 2%;
			float: left;
			clear: none;

			&:first-child {
				margin-left: 0;
			}
		}
	}
	input[type="text"],
	input[type="email"] {
		width: 100%;
		border: 0;
		background: #1b75bc;
		height: 50px;
		font-size: 1rem;
		color: #fff;
		padding: 0 1.5rem;
		box-sizing: border-box;
		border-radius: 1rem;
	}

	textarea {
		width: 100%;
		border: 0;
		background: #1b75bc;
		height: 50px;
		font-size: 16px;
		color: #fff;
		padding: 20px;
		min-height: 150px;
		box-sizing: border-box;
		border-radius: 1rem;
	}

	.flat-button {
		color: white;
		// background: 0 0;
		background: #64d86b;
		font: 11px;
		letter-spacing: 3px;
		text-decoration: none;
		padding: 8px 10px;
		border: 1px solid #64d86b;
		float: right;
		border-radius: 4px;
	}
}

.map-wrap {
	background: rgba(8, 253, 216, 0.1);
	float: bottom;
	width: 53%;
	height: 100%;
}

.leaflet-container {
	width: 100%;
	height: 100%;
	position: relative;
	opacity: 0;
	animation: backInRight 1s 1.2s;
	animation-fill-mode: forwards;
}

@media screen and (max-width: 1200px) {
	.map-wrap {
		float: none;
		margin: 0;
		width: 100%;
		height: 400px;
	}

	.info-map {
		display: none;
	}
}

@keyframes fadeInUp {
	from {
		transform: translate3d(0, 40px, 0);
	}

	to {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}
