.shadow-effect {
	background: #fff;
	padding: 0.5rem;
	border-radius: 0.25rem;
	text-align: center;
	border: 1px solid #ececec;
	box-shadow: 0 1.25rem 2.5rem rgba(0, 0, 0, 0.1), 0 1rem 0.75rem rgba(0, 0, 0, 0.02);
}

#shadow-effect p {
	font-family: inherit;
	font-size: 1rem;
	line-height: 1.5;
	margin: 0 0 1rem 0;
	font-weight: 300;
}

.img-circle {
	border-radius: 50%;
	vertical-align: middle;
	max-width: 5rem;
	min-height: 5rem;
	transform-style: preserve-3d;
	margin: 0 auto 1rem;
}

.testimonial-name {
	margin: -1rem auto 0;
	display: table;
	width: auto;
	/* background: linear-gradient(100deg, #845EC2, #BE93FD); */
	/* background: linear-gradient(100deg, #FF8066, #FF918D); */
	background: linear-gradient(135deg, #ff3e00, #eaa400);
	padding: 0.5rem 2rem;
	border-radius: 0.75rem;
	text-align: center;
	color: #fff;
	box-shadow: 0 0.5rem 1.125rem rgba(0, 0, 0, 0.12), 0px 0.3125rem 0.4375rem rgba(0, 0, 0, 0.5);
}

#customer-testimonoals .item {
	text-align: center;
	padding: 3.125rem;
	margin-bottom: 0;
	opacity: 0.2;
	transform: scale3d(0.8, 0.8, 1);
	transition: all 0.3s ease-in-out;
}

#customer-testimonoals .owl-item.active.center .item {
	opacity: 1;
	transform: scale3d(1, 1, 1);
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	background: #56423d;
	transform: translate3d(0px, -50%, 0px) scale(0.8);
}

.owl-carousel .owl-dots {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.owl-carousel .owl-dots .owl-dot {
	display: inline-block;
}

.owl-carousel .owl-dots .owl-dot span {
	background: #eaa400;
	background: #56423d;
	display: inline-block;
	height: 1.25rem;
	width: 1.25rem;
	margin: 0 0.125rem 0.3125rem;
	transform: translate3d(0px, -50%, 0px) scale(0.3);
	transform-origin: 50% 50% 0;
	transition: all 250ms ease-out 0s;
}
