.homepage_container {
	display: flex;
	flex-basis: 100%;
}

.img_container {
	max-height: 50vh;
	min-height: 50vh;
	max-width: 35vw;
	min-width: 35vw;
	/* max-width: 35%; */
	/* padding: 2px; */
	/* display: flex; */
	align-content: stretch;
	align-items: stretch;
	/* overflow: hidden; */
	margin-right: 5vw;
	margin-left: 5vw;
}

.homepage_img {
	height: 100%;
	max-height: 100%;
	width: 100%;
	max-width: 100%;
	border-radius: 10px;
	/* object-fit: cover;
	flex: 1; */
}

li {
	list-style-type: none;
	padding: 1rem;
}

.image_button_container {
	margin-left: 1vw;
	display: block;
	width: 15vw;
	/* align-items: center; */
	/* align-content: center; */
	text-align: center;
	margin-right: 1vw;
}

.bball_button {
	display: inline-block;
}

.toilet_button {
	display: inline-block;
}

.gazebo_button {
	display: inline-block;
}

.description_container {
	font-size: 2em;
	position: absolute;
	right: 0;
	margin-right: 5vw;
}
