.homepage_container {
	display: flex;
}

.image_button_container {
	margin-left: 1%;
	display: block;
}

.img_container {
	max-height: 5%;
	min-height: 5%;
	max-width: 35%;
	min-width: 35%;
	/* max-width: 35%; */
	/* padding: 2px; */
	/* display: flex; */
	align-content: stretch;
	align-items: stretch;
	/* overflow: hidden; */
}

.homepage_img {
	height: 100%;
	max-height: 100%;
	width: 100%;
	max-width: 100%;
	border-radius: 10px;
	/* object-fit: cover;
	flex: 1; */
}

li {
	list-style-type: none;
	padding: 2px;
}
