.homepage_container {
	/* display: flex;
	flex-basis: 100%; */
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
}

.img_container {
	max-height: 50vh;
	min-height: 50vh;
	max-width: 45vw;
	min-width: 45vw;
	margin: 0 auto;
}

/*
TODO animation not working on mouse over
* Animation is working for initial loading
*/
.homepage_img {
	animation: fadeIn 1s;
	padding: 2rem;
	height: 100%;
	max-height: 100%;
	width: 100%;
	max-width: 100%;
	border-radius: 5rem;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

li {
	list-style-type: none;
	padding: 1rem;
}

.image_button_container {
	/* display: block; */
	text-align: center;
	align-items: center;
	justify-content: center;
}

.bball_button {
	height: 5rem;
	width: 20rem;
	display: inline-block;
}

.toilet_button {
	height: 5rem;
	width: 20rem;
	display: inline-block;
}

.gazebo_button {
	height: 5rem;
	width: 20rem;
	display: inline-block;
}

.description_container {
	font-size: 2em;
	right: 0;
	/* text-align: center; */

	/* margin-right: 5vw; */
}

.description_title {
	text-align: center;
}
