.yelp_reviews_container {
	display: flex;
	width: 100%;
	justify-content: center;
	padding: 2rem;
}

.carousel_img_1 {
	width: 50vw;
	max-width: 50vw;
	height: 25vh;
}

.carousel_img_2 {
	width: 50vw;
	max-width: 50vw;
	height: 25vh;
}
